.all{
max-width: 1370px;
margin: 0 auto;
}
.njiko-name a{
font-family: 'JMH Typewriter';
src: url('./fonts/jmh-typewriter-font/JmhtypewriterblackItalic-92rK.ttf') format('truetype');
font-size: 64px;
font-weight: 700;
text-decoration: none;
padding-left: 4rem;
color: #B05423;
}
.world-ball{
  margin-right: 3rem;
}
@font-face{
  font-family: 'JMH Typewriter';
  src: url('./fonts/jmh-typewriter-font/JmhtypewriterBold-nKGg.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
.njiko-header{
  display: flex;
  justify-content: space-between;
  padding-top: 3.5rem;
}
.header{
  position: relative;
  background-color: #290B03;
  padding-bottom: 6rem;
}
.njiko-center h1{
  font-size: 10rem;
  font-family: 'JMH Typewriter';
}
.njiko-center{
  font-size: 5rem;
  font-family: 'JMH Typewriter';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #290B03;
  background-color: #B05423;
  border-radius: 50%;
  width: 600px;
  height: 550px;
  position: relative;
  left: 28%;
  filter: drop-shadow(0 0 0px #B05423);
  box-shadow: 0 0 40px 30px#B05423;
}
.circle {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #B05423; 
  transition: top 1s ease, left 1s ease;
}

/* /* Style for each group  */
.group-0 {
  background-color: #873716; 
  width: 20px;
  height: 20px;
}

.group-1 {
  background-color: #B05423;
  
}

.group-2 {
  background-color: #873716;
}
.hero-section{
  text-align: center;
}
.marquee {
  display: flex;
  white-space: nowrap; 
  overflow: hidden;
  position: relative;
}
.marquee h1 {
  display: inline-block;
  animation: scroll-text 100s linear infinite; 
  margin: 0;
}
@keyframes scroll-text {
  0% {
    transform: translateX(0%); 
  }
  100% {
    transform: translateX(-100%); 
  }
}

.hero-section {
  overflow: hidden;
  width: 100%; 
  padding: 20px; 
  position: relative;
}
.hero-section h1{
  font-size: 3rem;
  font-family: 'JMH Typewriter';
  margin-top: 1rem;
  text-align: center;
  color: #290B03;
}
.about-njiko{
  font-size: 3rem;
  font-family: 'JMH Typewriter';
  text-align: center;
  color: #000000;
  margin-top: 4rem;
  font-weight: 400;
}
.intro{
  display: flex;
  justify-self: center;
  width: 75%;
  margin-top: 4rem;
  text-align: left;
  font-family: 'Poppins';
  line-height: 32px;
  font-size: 24px;
  color: #000000;
  font-weight: 400;
}
.projects h1{
  font-size: 3rem;
  font-family: 'JMH Typewriter';
  margin-top: 6rem;
  text-align: center;
  color: #000000;
}
.digital{
  display: flex;
  justify-self: center;
  width: 40%;
  margin-top: 2rem;
  text-align: center;
  font-family: 'Poppins';
  line-height: 32px;
  font-size: 22px;
  color: #000000;
  font-weight: 500;
}
.landmark{
  display: flex;
  justify-self: center;
  width: 50%;
  margin-top: 4rem;
  margin-bottom: 5rem;
  text-align: center;
  font-family: 'Poppins';
  line-height: 32px;
  font-size: 22px;
  color: #000000;
  font-weight: 500;
}
.projects img{
  display: flex;
  justify-self: center;
  margin-top: 2rem;

}
.button-container{
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}
.button{
  margin-top: 6px;
  width: 20%;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  font-family: 'JMH Typewriter';
  color: #ffffff;
  font-weight: 400;
  background-color: #290B03;
  padding: 1rem 2rem;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.button:hover {
  background-color: #873716;
  transform: scale(1.1);
  color:white;
  border: 2px solid ;
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .njiko-name a{
    font-size: 42px;
    padding-left: 1rem;
  }
  .world-ball img{
    width: 50%;
  }
  .world-ball{
    margin-right:  0;
  }
  .njiko-center{
    width: 200px;
    height: 170px;
    left: 24%;    
    margin-top: 2.5rem;
  }
  .njiko-center h1{
    font-size: 5rem;

  }
  .njiko-header{
    padding-top: 1.5rem;
  }
  .group-1{
    width: 10px;
    height: 10px;
  }
  .group-2{
    width: 30px;
    height: 30px;
  }
  .hero-section h1{
    font-size: 1.5rem;
  }
  .intro{
    text-align: center;
    margin-top: 2rem;
    font-size: 20px;
    letter-spacing: 1px;
    width: 100%;
  }
  .digital{
    width: 100%;
    line-height: 25px;
  }
  .projects img{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .landmark{
    width: 100%;
    line-height: 26px;
    letter-spacing: 1px;
    margin-bottom: 3rem;
  }
  .button{
    width: 50%;
    letter-spacing: 2px;
    border-radius: 10px;
  }
}